/**
 * Editor styles
 *
 * Based on Townsquare theme CSS, Omega base theme CSS.
 */

/* File: Alpha normal width */

/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12 {
  display: inline;
  float: left;
  position: relative;

  /* Experimental: Show border around grid container elements for editor */
  margin-left: 9px;
  margin-right: 9px;
  border: 1px dashed #ccc;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  /* Use zoom and scale to make editor area fit in existing column */
  width: 960px;
  zoom: 0.95;
  margin: 0 auto;
  padding: 0 10px;
  -moz-transform: scale(0.95);
  -moz-transform-origin: 0 0;
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.grid-1 {
  width: 60px;
}

.grid-2 {
  width: 140px;
}

.grid-3 {
  width: 220px;
}

.grid-4 {
  width: 300px;
}

.grid-5 {
  width: 380px;
}

.grid-6 {
  width: 460px;
}

.grid-7 {
  width: 540px;
}

.grid-8 {
  width: 620px;
}

.grid-9 {
  width: 700px;
}

.grid-10 {
  width: 780px;
}

.grid-11 {
  width: 860px;
}

.grid-12 {
  width: 940px;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.prefix-1 {
  padding-left: 80px;
}

.prefix-2 {
  padding-left: 160px;
}

.prefix-3 {
  padding-left: 240px;
}

.prefix-4 {
  padding-left: 320px;
}

.prefix-5 {
  padding-left: 400px;
}

.prefix-6 {
  padding-left: 480px;
}

.prefix-7 {
  padding-left: 560px;
}

.prefix-8 {
  padding-left: 640px;
}

.prefix-9 {
  padding-left: 720px;
}

.prefix-10 {
  padding-left: 800px;
}

.prefix-11 {
  padding-left: 880px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.suffix-1 {
  padding-right: 80px;
}

.suffix-2 {
  padding-right: 160px;
}

.suffix-3 {
  padding-right: 240px;
}

.suffix-4 {
  padding-right: 320px;
}

.suffix-5 {
  padding-right: 400px;
}

.suffix-6 {
  padding-right: 480px;
}

.suffix-7 {
  padding-right: 560px;
}

.suffix-8 {
  padding-right: 640px;
}

.suffix-9 {
  padding-right: 720px;
}

.suffix-10 {
  padding-right: 800px;
}

.suffix-11 {
  padding-right: 880px;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.push-1 {
  left: 80px;
}

.push-2 {
  left: 160px;
}

.push-3 {
  left: 240px;
}

.push-4 {
  left: 320px;
}

.push-5 {
  left: 400px;
}

.push-6 {
  left: 480px;
}

.push-7 {
  left: 560px;
}

.push-8 {
  left: 640px;
}

.push-9 {
  left: 720px;
}

.push-10 {
  left: 800px;
}

.push-11 {
  left: 880px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.pull-1 {
  left: -80px;
}

.pull-2 {
  left: -160px;
}

.pull-3 {
  left: -240px;
}

.pull-4 {
  left: -320px;
}

.pull-5 {
  left: -400px;
}

.pull-6 {
  left: -480px;
}

.pull-7 {
  left: -560px;
}

.pull-8 {
  left: -640px;
}

.pull-9 {
  left: -720px;
}

.pull-10 {
  left: -800px;
}

.pull-11 {
  left: -880px;
}

@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: normal;
  src: local('Arimo Italic'), local('Arimo-Italic'), url('http://themes.googleusercontent.com/static/fonts/arimo/v3/8ezAIdgyp-Cm5_X7mWzP_g.woff') format('woff');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: bold;
  src: local('Arimo Bold'), local('Arimo-Bold'), url('http://themes.googleusercontent.com/static/fonts/arimo/v3/UnXpojilM3XslYxUnWuVe_esZW2xOQ-xsNqO47m55DA.woff') format('woff');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: bold;
  src: local('Arimo Bold Italic'), local('Arimo-BoldItalic'), url('http://themes.googleusercontent.com/static/fonts/arimo/v3/_K7sg-ijHdmkwPzV9FiqaBsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: normal;
  src: local('Arimo'), url('http://themes.googleusercontent.com/static/fonts/arimo/v3/wZLYhRRxZWGToTRP78bqJQ.woff') format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: normal;
  src: local('Crimson Text'), local('CrimsonText-Roman'), url('http://themes.googleusercontent.com/static/fonts/crimsontext/v3/3IFMwfRa07i-auYR-B-zNXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

/* Taken from build of global.css */ 
.font_sans { font-family:Arimo, Arial, sans-serif; }
.font_serif { font-family:"Crimson Text", Georgia, serif; }
.font_mono { font-family:"Courier New", Courier, monospace; }

body {
  font-family:Arimo, Arial, sans-serif;
  line-height:25px;
  font-size:16px;
}
a, a:link, a:visited {
  color:#267e26;
  text-decoration:none;
}
h1 {
  font-family:"Crimson Text", Georgia, serif;
  font-weight:normal;
  font-size:44px;
  line-height:50px;
}
h2 {
  font-family:"Crimson Text", Georgia, serif;
  font-weight:normal;
  font-size:36px;
  line-height:50px;
}
h3 {
  font-family:"Crimson Text", Georgia, serif;
  font-weight:normal;
  font-size:32px;
  line-height:50px;
}
h4 {
  font-family:"Crimson Text", Georgia, serif;
  font-weight:normal;
  font-size:28px;
  line-height:50px;
}
h5, h6 {
  font-family:"Crimson Text", Georgia, serif;
  font-weight:normal;
  font-size:22px;
  line-height:25px;
}
table { width:auto; }
table thead th {
  border-bottom:1px solid #cccccc;
  padding:0 10px;
  text-align:left;
  font-weight:bold;
}
table tbody td {
  padding:0 10px;
  border-right:1px dotted #b5b5b5;
  border-left:1px dotted #b5b5b5;
  border-top:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  text-align:left;
}
table tbody td.active {
  background:none;
  color:#000000;
}
table tbody th {
  padding:0 10px;
  border-right:1px dotted #b5b5b5;
  border-left:1px dotted #b5b5b5;
  border-top:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  text-align:left;
  font-weight:bold;
}
table tbody th.active {
  background:none;
  color:#000000;
}
table tbody tr, table tbody tr.even, table tbody tr.odd { background:none; }
table tbody tr:hover td, table tbody tr:hover th, table tbody tr.even:hover td, table tbody tr.even:hover th, table tbody tr.odd:hover td, table tbody tr.odd:hover th { background:#f3f3f3; }
hr {
  background-color:#cccccc;
  clear:both;
}
pre {
  font-family:"Courier New", Courier, monospace;
  font-size:14px;
  padding:13px 15px;
  background-color:#e6e6e6;
}
code {
  font-family:"Courier New", Courier, monospace;
  font-size:14px;
  background-color:#e6e6e6;
}
blockquote {
  margin-left:25px;
  margin-right:25px;
  font-size:14px;
  color:#454545;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, .form-item, pre, address, fieldset, blockquote { margin-bottom:25px; }
ul, ol {
  margin: 0;
}
ul li {
  margin-left:0;
  margin-bottom: 25px;
  list-style-type:disc;
}
ol li {
  margin-left:0;
  margin-bottom: 25px;
  list-style-type:decimal;
}
.biggest {
  font-family:"Crimson Text", Georgia, serif;
  font-size: 45px;
  line-height: 50px;
}
.big {
  font-family:"Crimson Text", Georgia, serif;
  font-size: 32px;
  line-height: 50px;
}
.small {
  font-size: 13px;
}
.highlight {
  color: #000;
  background-color: #fdffa9; 
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.quiet {
  color: #454545;
}
.border {
  border: 1px solid #b5b5b5;
}
.caption {
  color: #454545;
  font-size: 13px;
  margin: 7px 0 18px 0;
  display: block;
}
