body * {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #05f;
}
#content a:hover {
  color: #000;
  background-color: #fff988;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  margin-bottom: 0;
}
.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.btn .icon {
  font-size: 18px;
  padding-top: 2px;
  display: inline-block;
  margin-right: 3px;
}

.navbar {
  background-image: url(../img/tex2res4.png);
}
.navbar .navbar-inner {
  min-height: 34px;
  background: -moz-linear-gradient(top, rgba(84,84,84,0.75) 0%, rgba(84,84,84,0.76) 10%, rgba(17,17,17,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(84,84,84,0.75)), color-stop(10%,rgba(84,84,84,0.76)), color-stop(100%,rgba(17,17,17,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(84,84,84,0.75) 0%,rgba(84,84,84,0.76) 10%,rgba(17,17,17,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(84,84,84,0.75) 0%,rgba(84,84,84,0.76) 10%,rgba(17,17,17,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(84,84,84,0.75) 0%,rgba(84,84,84,0.76) 10%,rgba(17,17,17,0.8) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(84,84,84,0.75) 0%,rgba(84,84,84,0.76) 10%,rgba(17,17,17,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf545454', endColorstr='#cc111111',GradientType=0 ); /* IE6-9 */
}
.navbar .brand, .navbar .nav > li > a {
  color: #ddd;
  padding-top: 7px;
  padding-bottom: 8px;
  text-shadow: none;
}
.navbar .brand {
  color: #ddd;
}
.navbar .brand:hover, .navbar .nav > li > a:hover {
  color: #fff;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: rgba(0,0,0,0.7);
  color: #fff;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-pills > .active > a, .nav-pills > .active > a:hover,
#autocomplete li.selected, .ui-autocomplete a.ui-state-hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #05f;
}

.ui-autocomplete {
  height: 130px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav-tabs > li > a, .nav-pills > li > a {
  line-height: 14px;
  font-weight: bold;
}
input:focus,
textarea:focus {
  border-color: rgba(60, 60, 60, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(150, 150, 150, 0.6);
}

/* Clear default bootstrap styles for font-awesome */
[class^="icon-"], [class*=" icon-"] {
  background-image: none;
}

#edit-date-wrapper, #edit-field-session-duration-value-wrapper, #edit-field-freegeek-rewards-value-wrapper { 
  float: left;
  width: 27%;
  padding-right: 1%;
}
.views-widget-per-page {
  float: left;
  width: 14%; 
}
#views-exposed-form-townsquare-volunteers-report select,
#views-exposed-form-townsquare-volunteers-report input {
  width: auto;
  max-width: 95%;
}
#views-exposed-form-townsquare-volunteers-report .views-widget-per-page .control-label {
  display: block;
  width: 100%;
  padding-top: 0;
}
.views-exposed-widget {
  display: inline-block;
}

#views-exposed-form-townsquare-volunteers-report #edit-date-wrapper .control-label,
#views-exposed-form-townsquare-volunteers-report #edit-field-session-duration-value-wrapper .control-label,
#views-exposed-form-townsquare-volunteers-report #edit-field-freegeek-rewards-value-wrapper .control-label {
  display: none;
}
#views-exposed-form-townsquare-volunteers-report .control-group {
  margin-bottom: 5px;
}
#views-exposed-form-townsquare-volunteers-report .views-operator,
#views-exposed-form-townsquare-volunteers-report .views-widget {
  float: left;
  display: block;
}
#views-exposed-form-townsquare-volunteers-report .views-operator {
  width: 46%;
  padding-right: 1%;
}
#views-exposed-form-townsquare-volunteers-report .views-widget {
  width: 52%;
  padding-right: 1%;
}
#views-exposed-form-townsquare-volunteers-report .views-submit-button {
  clear: left;
}
#views-exposed-form-townsquare-volunteers-report .views-submit-button,
#views-exposed-form-townsquare-volunteers-report .views-reset-button {
  float: left;
  margin-right: 10px;
}

label {
 font-weight: bold; 
}
