body * {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #05f;
}
#content a:hover {
  color: #000;
  background-color: #fff988;
}

.navbar {
  background-image: url(../img/tex2res4.png);
}
.navbar-inner {
  min-height: 34px;
  background: -moz-linear-gradient(top, rgba(84,84,84,0.75) 0%, rgba(84,84,84,0.76) 10%, rgba(17,17,17,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(84,84,84,0.75)), color-stop(10%,rgba(84,84,84,0.76)), color-stop(100%,rgba(17,17,17,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(84,84,84,0.75) 0%,rgba(84,84,84,0.76) 10%,rgba(17,17,17,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(84,84,84,0.75) 0%,rgba(84,84,84,0.76) 10%,rgba(17,17,17,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(84,84,84,0.75) 0%,rgba(84,84,84,0.76) 10%,rgba(17,17,17,0.8) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(84,84,84,0.75) 0%,rgba(84,84,84,0.76) 10%,rgba(17,17,17,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf545454', endColorstr='#cc111111',GradientType=0 ); /* IE6-9 */
}
.navbar .brand, .navbar .nav > li > a {
  color: #ddd;
  padding-top: 7px;
  padding-bottom: 8px;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-pills > .active > a, .nav-pills > .active > a:hover,
#autocomplete li.selected, .ui-autocomplete a.ui-state-hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #05f;
}

.ui-autocomplete {
  height: 130px;
  overflow-y: scroll;
  overflow-x: hidden;
  
}

#navigation div.user-picture {
  position: fixed;
  top: 0;
  height: 28px;
  width: 28px;
  padding: 4px;
  text-align: center;
  line-height: 28px;
  margin-left: 5px;
  background-color: #555;
}
.nav-tabs > li > a, .nav-pills > li > a {
  line-height: 14px;
  font-weight: bold;
}

input:focus,
textarea:focus {
  border-color: rgba(60, 60, 60, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(150, 150, 150, 0.6);
}

/* Clear default bootstrap styles for font-awesome */
[class^="icon-"], [class*=" icon-"] {
  background-image: none;
}
