.font_sans { font-family:Arimo, Arial, sans-serif; }
.font-serif { font-family:"Crimson Text", Georgia, serif; }
.font_mono { font-family:"Courier New", Courier, monospace; }
.box {
  float:left;
  display:block;
}
.gradient {
  background:#dddddd;
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f3f3f3),color-stop(0.7,#dddddd),color-stop(1.0,#cccccc));
  background-image:-moz-linear-gradient(top,#f3f3f3 0%,#dddddd 70%,#cccccc 100%);
}
.box_shadow {
  -webkit-box-shadow:;
  -moz-box-shadow:;
  box-shadow:;
}
.arrow_down {
  border-color:#252525 transparent transparent transparent;
  border-style:solid;
  border-width:4px;
  width:0;
  height:0;
}
.arrow_up {
  border-color:transparent #252525 transparent transparent;
  border-color:transparent transparent #252525 transparent;
  border-style:solid;
  border-style:solid;
  border-width:4px;
  border-width:4px;
  width:0;
  width:0;
  height:0;
  height:0;
}
.arrow_left {
  border-color:transparent transparent transparent #252525;
  border-style:solid;
  border-width:4px;
  width:0;
  height:0;
}
.round_corner {
  border-radius:4px 4px 4px 4px;
  -webkit-border-radius:4px 4px 4px 4px;
  -moz-border-radius:4px 4px 4px 4px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}
body {
  font-family:Arimo, Arial, sans-serif;
  line-height:25px;
  font-size:16px;
}
a, a:link, a:visited {
  color:#267e26;
  text-decoration:none;
}
a:hover, a:link:hover, a:visited:hover {
  color:#000000;
  text-decoration:none;
}
h1 {
  font-family:"Crimson Text", Georgia, serif;
  font-weight:normal;
  font-size:44px;
  line-height:50px;
}
h2 {
  font-family:"Crimson Text", Georgia, serif;
  font-weight:normal;
  font-size:36px;
  line-height:50px;
}
h3 {
  font-family:"Crimson Text", Georgia, serif;
  font-weight:normal;
  font-size:32px;
  line-height:50px;
}
h4 {
  font-family:"Crimson Text", Georgia, serif;
  font-weight:normal;
  font-size:28px;
  line-height:50px;
}
h5, h6 {
  font-family:"Crimson Text", Georgia, serif;
  font-weight:normal;
  font-size:22px;
  line-height:25px;
}
table { width:auto; }
table thead th {
  border-bottom:1px solid #cccccc;
  padding:0 10px;
  text-align:left;
  font-weight:bold;
}
table tbody td {
  padding:0 10px;
  border-right:1px dotted #b5b5b5;
  border-left:1px dotted #b5b5b5;
  border-top:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  text-align:left;
}
table tbody td.active {
  background:none;
  color:#000000;
}
table tbody th {
  padding:0 10px;
  border-right:1px dotted #b5b5b5;
  border-left:1px dotted #b5b5b5;
  border-top:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  text-align:left;
  font-weight:bold;
}
table tbody th.active {
  background:none;
  color:#000000;
}
table tbody tr, table tbody tr.even, table tbody tr.odd { background:none; }
table tbody tr:hover td, table tbody tr:hover th, table tbody tr.even:hover td, table tbody tr.even:hover th, table tbody tr.odd:hover td, table tbody tr.odd:hover th { background:#f3f3f3; }
hr {
  background-color:#cccccc;
  clear:both;
}
pre {
  font-family:"Courier New", Courier, monospace;
  font-size:14px;
  padding:13px 15px;
  background-color:#e6e6e6;
}
code {
  font-family:"Courier New", Courier, monospace;
  font-size:14px;
  background-color:#e6e6e6;
}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  -webkit-box-shadow:0 0 3px #ebbb3e;
  -moz-box-shadow:0 0 3px #ebbb3e;
  box-shadow:0 0 3px #ebbb3e;
}
input[type="file"]:focus, input[type="file"]:active, input[type="radio"]:focus, input[type="radio"]:active, input[type="checkbox"]:focus, input[type="checkbox"]:active {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
input[readonly], textarea[readonly], input[disabled], textarea[disabled], select[disabled], button[disabled] {
  color:#999999;
  border-color:#cccccc;
  background:#f3f3f3;
}
label {
  font-weight:bold;
  margin-right:10px;
}
legend {
  font-weight:bold;
  margin-bottom:25px;
}
.form-required { color:#ff0000; }
.form-item .description { font-size:12px; }
.form-submit { margin-right:10px; }
.user-img-small img {
  height:24px;
  width:24px;
}
blockquote {
  margin-left:25px;
  margin-right:25px;
  font-size:14px;
  color:#454545;
}
header#section-header {
  background:#f3f3f3;
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(0.7,#f3f3f3),color-stop(1.0,#dddddd));
  background-image:-moz-linear-gradient(top,#ffffff 0%,#f3f3f3 70%,#dddddd 100%);
}
#region-navigation-primary { margin:15px 0 15px 0; }
#region-navigation-primary .block h2 { display:none; }
#region-navigation-primary #block-menu-menu-townsquare-toolbar {
  font-size:18px;
  font-weight:bold;
  float:left;
}
#region-navigation-primary #block-menu-menu-townsquare-toolbar ul.menu li {
  float:left;
  display:block;
  margin-right:10px;
}
#region-navigation-primary #block-menu-menu-townsquare-toolbar ul.menu li a {
  float:left;
  display:block;
  padding:0 8px;
  border:1px solid #267e26;
  background-color:#ffffff;
}
#region-navigation-primary #block-menu-menu-townsquare-toolbar ul.menu li a:hover {
  background-color:#08ad0a;
  border-color:#08ad0a;
  color:#ffffff;
}
#region-navigation-primary #block-menu-menu-townsquare-toolbar ul.menu li a.active, #region-navigation-primary #block-menu-menu-townsquare-toolbar ul.menu li a.active:hover {
  background-color:#267e26;
  color:#ffffff;
  border-color:#267e26;
  cursor:default;
}
#region-navigation-primary #block-menu-menu-townsquare-toolbar ul.menu #menu-link-volunteer, #region-navigation-primary #block-menu-menu-townsquare-toolbar ul.menu #menu-link-event { margin:0; }
#region-navigation-primary #block-menu-menu-townsquare-toolbar ul.menu #menu-link-volunteer a, #region-navigation-primary #block-menu-menu-townsquare-toolbar ul.menu #menu-link-event a { border-right:none; }
#region-navigation-primary .logo-img {
  float:left;
  margin-right:5px;
  margin-left:-35px;
}
#region-navigation-primary .logo-img img {
  width:30px;
  height:30px;
}
#region-navigation-primary #block-townsquare-core-login {
  float:right;
  font-size:14px;
}
#region-navigation-primary #block-townsquare-core-login ul, #region-navigation-primary #block-townsquare-core-login .login-username, #region-navigation-primary #block-townsquare-core-login .form-item, #region-navigation-primary #block-townsquare-core-login .form-actions, #region-navigation-primary #block-townsquare-core-login .links, #region-navigation-primary #block-townsquare-core-login .user-picture {
  display:inline;
  line-height:1;
}
#region-navigation-primary #block-townsquare-core-login li {
  display:inline;
  line-height:1;
  padding-left:6px;
  border-left:1px solid #999999;
}
#region-navigation-primary #block-townsquare-core-login label {
  margin-left:14px;
  margin-right:0;
}
#region-navigation-primary #block-townsquare-core-login img {
  width:25px;
  height:25px;
}
#region-primary-tasks { margin:0 20px 0 0; }
#region-primary-tasks ul { line-height:22px; }
#region-primary-tasks ul li {
  display:inline-block;
  margin-right:6px;
}
#region-primary-tasks ul li a {
  display:inline-block;
  padding:0 8px;
  border-top:1px solid #999999;
  border-left:1px solid #999999;
  border-right:1px solid #999999;
  background-color:#e6e6e6;
}
#region-primary-tasks ul li a:hover {
  color:#267e26;
  background-color:#ffffff;
}
#region-primary-tasks ul li.active a {
  color:black;
  background-color:#ffffff;
}
#region-primary-tasks ul li.active a:hover {
  color:#000000;
  cursor:default;
}
#zone-content { margin-top:25px; }
#zone-content p, #zone-content dl, #zone-content hr, #zone-content h1, #zone-content h2, #zone-content h3, #zone-content h4, #zone-content h5, #zone-content h6, #zone-content .form-item, #zone-content pre, #zone-content address, #zone-content fieldset, #zone-content blockquote { margin-bottom:25px; }
#zone-content .node ul li, #zone-content .item-list ul li {
  margin-left:25px;
  margin-bottom:25px;
  list-style-type:disc;
}
#zone-content .node ol li, #zone-content .item-list ol li {
  margin-left:25px;
  margin-bottom:25px;
  list-style-type:decimal;
}
.page-event-edit #zone-content .node-event-form, .page-event-create #zone-content .node-event-form {
  background:#f3f3f3;
  margin-bottom:25px;
  padding:5px 0;
}
.page-event-edit #zone-content .node-event-form .form-item, .page-event-create #zone-content .node-event-form .form-item { margin-bottom:10px; }
.page-event-edit #zone-content .node-event-form .container-inline-date > .form-item > label, .page-event-create #zone-content .node-event-form .container-inline-date > .form-item > label { display:none; }
.page-event-edit #zone-content .node-event-form legend, .page-event-edit #zone-content .node-event-form #edit-field-event-description label, .page-event-create #zone-content .node-event-form legend, .page-event-create #zone-content .node-event-form #edit-field-event-description label {
  display:block;
  margin-bottom:10px;
}
.page-event-edit #zone-content .node-event-form .field-name-field-event-location label, .page-event-create #zone-content .node-event-form .field-name-field-event-location label {
  display:inline-block;
  width:110px;
}
.page-event-edit #zone-content .node-event-form .field-name-field-event-location input, .page-event-edit #zone-content .node-event-form .field-name-field-event-location select, .page-event-create #zone-content .node-event-form .field-name-field-event-location input, .page-event-create #zone-content .node-event-form .field-name-field-event-location select {
  display:inline-block;
  max-width:160px;
}
.page-event-edit #zone-content .node-event-form textarea, .page-event-create #zone-content .node-event-form textarea { height:134px; }
.page-event-edit #volunteer-sessions, .page-event-create #volunteer-sessions {
  margin-top:25px;
  margin-bottom:250px;
  display:table;
  border-collapse:collapse;
  border-bottom:1px solid #cccccc;
}
.page-event-edit #volunteer-sessions #session-headers, .page-event-create #volunteer-sessions #session-headers { display:table-row; }
.page-event-edit #volunteer-sessions #session-headers li, .page-event-create #volunteer-sessions #session-headers li {
  display:table-cell;
  padding:2px 9px;
}
.page-event-edit #volunteer-sessions .volunteer-session-form, .page-event-create #volunteer-sessions .volunteer-session-form { display:table-row; }
.page-event-edit #volunteer-sessions .volunteer-session-form form > div > div, .page-event-create #volunteer-sessions .volunteer-session-form form > div > div {
  vertical-align:top;
  display:table-cell;
  padding:8px 9px;
  border-collapse:collapse;
  border-top:1px solid #cccccc;
  border-left:1px dotted #b5b5b5;
  border-right:1px dotted #b5b5b5;
}
.page-event-edit #volunteer-sessions .volunteer-session-form form div.ajax-progress, .page-event-edit #volunteer-sessions .volunteer-session-form form div.description, .page-event-edit #volunteer-sessions .volunteer-session-form form div.grippie, .page-event-edit #volunteer-sessions .volunteer-session-form form div.field-widget-options-onoff label, .page-event-create #volunteer-sessions .volunteer-session-form form div.ajax-progress, .page-event-create #volunteer-sessions .volunteer-session-form form div.description, .page-event-create #volunteer-sessions .volunteer-session-form form div.grippie, .page-event-create #volunteer-sessions .volunteer-session-form form div.field-widget-options-onoff label { display:none; }
.page-event-edit #volunteer-sessions .volunteer-session-form form .form-actions, .page-event-create #volunteer-sessions .volunteer-session-form form .form-actions {
  background-color:#f3f3f3;
  margin:0;
}
.page-event-edit #volunteer-sessions .volunteer-session-form form .form-item, .page-event-create #volunteer-sessions .volunteer-session-form form .form-item { margin:0; }
.page-event-edit #volunteer-sessions .field-name-field-session-user, .page-event-create #volunteer-sessions .field-name-field-session-user { width:200px; }
.page-event-edit #volunteer-sessions .field-name-field-session-user input, .page-event-create #volunteer-sessions .field-name-field-session-user input {
  width:200px;
  padding-right:16px;
  background-position:100% 50px;
}
.page-event-edit #volunteer-sessions .field-name-field-session-user input.throbbing, .page-event-create #volunteer-sessions .field-name-field-session-user input.throbbing { background-position:100% -16px; }
.page-event-edit #volunteer-sessions .field-name-field-session-hours, .page-event-create #volunteer-sessions .field-name-field-session-hours { width:222px; }
.page-event-edit #volunteer-sessions .field-name-field-session-hours input, .page-event-edit #volunteer-sessions .field-name-field-session-hours select, .page-event-create #volunteer-sessions .field-name-field-session-hours input, .page-event-create #volunteer-sessions .field-name-field-session-hours select { width:100px; }
.page-event-edit #volunteer-sessions .field-name-field-session-hours .form-item, .page-event-create #volunteer-sessions .field-name-field-session-hours .form-item {
  display:inline-block;
  width:108px;
}
.page-event-edit #volunteer-sessions .field-name-field-session-hours .form-item-field-session-hours-und-0-value, .page-event-create #volunteer-sessions .field-name-field-session-hours .form-item-field-session-hours-und-0-value { margin-right:5px; }
.page-event-edit #volunteer-sessions .field-name-field-session-override-duration, .page-event-edit #volunteer-sessions .field-name-field-session-no-signout, .page-event-create #volunteer-sessions .field-name-field-session-override-duration, .page-event-create #volunteer-sessions .field-name-field-session-no-signout {
  width:120px;
  text-align:center;
}
.page-event-edit #volunteer-sessions .field-name-field-session-override-duration .form-item, .page-event-edit #volunteer-sessions .field-name-field-session-no-signout .form-item, .page-event-create #volunteer-sessions .field-name-field-session-override-duration .form-item, .page-event-create #volunteer-sessions .field-name-field-session-no-signout .form-item { text-align:center; }
.page-event-edit #volunteer-sessions .field-name-field-session-duration, .page-event-create #volunteer-sessions .field-name-field-session-duration {
  width:100px;
  text-align:center;
}
.page-event-edit #volunteer-sessions .field-name-field-session-duration input, .page-event-create #volunteer-sessions .field-name-field-session-duration input {
  width:100px;
  text-align:right;
}
.vertical-tabs .fieldset-wrapper { margin-top:8px; }
#toolbar {
  border-bottom:1px solid #b5b5b5;
  -webkit-box-shadow:0 3px 6px #999999;
  -moz-box-shadow:0 3px 6px #999999;
  box-shadow:0 3px 6px #999999;
}
#autocomplete {
  width:auto;
  -webkit-box-shadow:2px 2px 4px #999999;
  -moz-box-shadow:2px 2px 4px #999999;
  box-shadow:2px 2px 4px #999999;
  background-color:#ffffff;
  border:1px solid #999999;
  max-height:161px;
  overflow-y:scroll;
}
.ui-autocomplete {
  width:auto;
  width:100px;
  -webkit-box-shadow:2px 2px 4px #999999;
  -moz-box-shadow:2px 2px 4px #999999;
  box-shadow:2px 2px 4px #999999;
  background-color:#ffffff;
  border:1px solid #999999;
  max-height:161px;
  overflow-y:scroll;
}
.ui-autocomplete li {
  list-style-type:none;
  padding:0 2px;
}
.ui-autocomplete li:hover, .ui-autocomplete li:focus, .ui-autocomplete li:active {
  color:;
  background-color:#fdffa9;
}
.ui-icon {
  position:relative;
  top:10px;
}
.ui-icon-triangle-1-s {
  border-color:#252525 transparent transparent transparent;
  border-style:solid;
  border-width:4px;
  width:0;
  height:0;
}
.ui-icon-triangle-1-n {
  border-color:transparent #252525 transparent transparent;
  border-color:transparent transparent #252525 transparent;
  border-style:solid;
  border-style:solid;
  border-width:4px;
  border-width:4px;
  width:0;
  width:0;
  height:0;
  height:0;
}
.ui-icon-triangle-1-w {
  border-color:transparent transparent transparent #252525;
  border-style:solid;
  border-width:4px;
  width:0;
  height:0;
}
.combobox-js-wrapper button.ui-button {
  border:none !important;
  margin-left:-25px;
  background:transparent;
  border-radius:0 0 0 0;
  -webkit-border-radius:0 0 0 0;
  -moz-border-radius:0 0 0 0;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}
