@font-face {
  font-family: "Sense";
  font-weight: normal;
  font-style: normal;
  src: local("Sense"),
       url(../fonts/Sense/Sense_Reg.ttf) format("opentype");
}
@font-face {
  font-family: "Sense";
  font-weight: normal;
  font-style: italic;
  src: local("Sense Italic"),
       url(../fonts/Sense/Sense_Italic.ttf) format("opentype");

}
@font-face {
  font-family: "Sense";
  font-weight: normal;
  font-style: italic;
  src: local("Sense Italic"),
       url(../fonts/Sense/Sense_Italic.ttf) format("opentype");
}
#site-name { 
  font-family: Sense;
}
