.mceEditor td.mceToolbar {
  background: #f5f5f5;
  padding: 2px 4px !important;
}
.mceEditor .mceButton {
  border-top: 1px solid #bbb !important;
  border-bottom: 1px solid #999 !important;
  border-left: 1px solid #bbb !important;
  border-right: 1px solid #999 !important;
  filter:progid:DXImageTransform.Microsoft.vertical_gradient(startColorstr='#e4e4e4',endColorstr='#bbbbbb') !important;
  background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#dddddd)) !important;
  background:-moz-linear-gradient(top,#f4f4f4,#dddddd) !important;
  padding: 3px;
  margin: 3px 6px 3px 0 !important;
  border-radius: 5px; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-background-clip: padding; 
  -webkit-background-clip: padding-box; 
  background-clip: padding-box; 
}
.mceEditor .mceButtonEnabled:hover {
  background: none !important;
  background-color: #b7b7b7 !important;
  border-color: #555 !important;
}
.mceEditor .mceListBox {
  margin: 5px 6px 0 3px;
  background: transparent;
}
.mceEditor .mceListBox .mceText {
  padding: 0px 8px !important;
  background-color: #fff !important;
  border-top: 1px solid #ccc !important;
  border-bottom: 1px solid #aaa !important;
  border-left: 1px solid #ccc !important;
  border-right: none !important;
  height: 25px !important;
  line-height: 25px !important;
}
.mceEditor .mceListBox .mceOpen {
  height: 25px !important;
  width: 17px !important;
  margin: 0 !important;
  border-top: 1px solid #ccc !important;
  border-bottom: 1px solid #aaa !important;
  border-left: 1px solid #ccc !important;
  border-right: 1px solid #aaa !important;
  background-color: #eee !important;
}
.defaultSkin .mceListBox .mceOpen {
  background-image: none !important;
}
.mceEditor .mceListBox .mceOpen span {
  display: block;
  margin: 10px 0 0 4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #444;
}
.mceMenu {
  margin-left: 1px;
  border-width: 1px !important;
  border-color: #999 !important;
  -moz-box-shadow: 2px 2px 4px #999;
  -webkit-box-shadow: 2px 2px 4px #999;
  box-shadow: 2px 2px 4px #999;
  max-height: 220px;
  background-color: #fff !important;
}
.mceMenu table {
  background-color: #fff !important;
}
.mceMenuItemTitle { display: none; }
.mceMenuItemTitle a {
  background-color: #fff !important;
  padding: 0 2px !important;
  border-bottom: 1px solid #999;
}
.mceMenuItemTitle span.mceText {
  color: #666 !important;
  font-style: italic !important;
}
.mceMenu a {
  padding: 2px 2px;
}
.mce_p span.mceText {
  font-size: 1.25em !important;
}
.mce_h2 span.mceText {
  font-size: 1.65em !important;
}
.mce_h3 span.mceText {
  font-size: 1.5em !important;
}
.mce_h4 span.mceText {
  font-size: 1.35em !important;
}
.mce_h5 span.mceText {
  font-size: 1.25em !important;
}
.mce_h6 span.mceText {
  font-size: 1em !important;
}
.defaultSkin a.mceButtonActive, .defaultSkin a.mceButtonSelected {
  background: none !important;
  background-color: #ccc !important;
  border-top: 1px solid #aaa !important;
  border-left: 1px solid #aaa !important;
  border-bottom: 1px solid #888 !important;
  border-right: 1px solid #888 !important;
}

