/* Mobile first */
#session-headers, .page-event .inline-btn {
  display: none;
}
button label {
  display: inline;
}

@media ( min-width: 980px ) {
  button {
    width: auto;
  }
  #edit-field-event-type {
    padding: 0 2% 0 0;
  }
  #edit-field-event-date, #edit-field-event-location, #edit-field-event-description {
    float: left;
    width: 31.3333333%;
    padding: 0 2% 0 0;
  }
  #edit-field-event-description textarea {
    height: 170px;
  }
  #edit-field-event-location label {
    float: left; 
    width: 75px;
  }
  #edit-field-event-location .controls {
    float: left; 
    width: 65%;
  }
  #edit-field-event-type label, #edit-field-event-type .controls {
    display: inline-block;
  }
  #edit-field-event-type label {
    margin-right: 20px;
  }
  .page-event .control-group {
    margin-bottom: 0;
  }
  .page-event legend {
    border: none;
  }
  .page-event .form-actions {
    clear: both;
  }
  .page-event table, .page-event .table {
    width: auto;
  }
  #session-headers {
    display: block;
  }
  .page-event #volunteer-sessions label {
    display: none;
  }
  .page-event #volunteer-sessions ul#session-headers {
    margin: 0;
    padding: 0;
    clear: both;
  }
  .page-event #volunteer-sessions .form-item,
  .page-event #volunteer-sessions .form-actions {
    width: 10.5%;
    padding: 0 1%;
    float: left;
    border: none;
    clear: none;
    list-style-type: none;
    margin: 0;
  }
  .page-event #volunteer-sessions .form-item input[type="text"],
  .page-event #volunteer-sessions .form-item select {
    width: 85%;
  }
  .page-event #volunteer-sessions .volunteer-session-form {
    clear: both;
    float: left;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0;
  }
  .page-event #volunteer-sessions .volunteer-session-form:hover {
    background-color: #f2f2f2;
  }
  .page-event #volunteer-sessions .form-actions {
    margin-top: 0;
  }
  .page-event #volunteer-sessions .form-type-checkbox, .page-event #volunteer-sessions .form-actions {
    width: 8%;
    text-align: center;
  }
  .page-event #volunteer-sessions .form-item.form-item-field-session-user-und-0-target-id {
    width: 19%;
    padding-right: 0;
  }
  .page-event #volunteer-sessions .ajax-progress { display: none; }
  .page-event #volunteer-sessions .btn {
    margin: 0 2px;
    padding: 2px 7px;
    color: #999;
  }
  .page-event #volunteer-sessions .btn:hover {
    color: #444;
  } 
}
